.ErrorPage {
    color: red;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
    -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
    box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}

#formS {
    padding: 1%;
}

#formW {
    padding: 1%;
    border-style: dotted;
    border-radius: 15px;
    border-width: 2px;
    border-color: red;
    color: red;
}