body {
  font: 16px Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding-top: 18vh;
}

#AccesibilityList {
  margin-left: 5%;
  margin-right: 5%;
}

/* Main Content */
.MainContent {
  clear: both;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 10%;
  clear: both;
}

/*Searchbar*/

#map {
  width: 80%;
  height: 300px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

#lnglat {
  background-color: lightblue;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}

#Searchbar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightblue;
  float: none;
}

.element {
  margin-left: 1%;
  margin-right: 1%;
}

input {
  width: 80%;
  max-width: 90%;
  display:block;
  border-radius: 15px;
}

/* List */
.List {
  clear: both;
  overflow: scroll;
  min-height: 200px;
  max-height: 700px;
  max-width: 90%;
  margin: auto;
  float: none;
}

.userImages {
  display: flex;
  flex-direction: row;
}

.uploadedImage {
  margin-left: 10px;
  border-radius: 15px;
}

.Room {
  word-break: break-word;
  max-width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  float: left;
}

.RoomNonFloat {
  word-break: break-word;
  max-width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}

.Room-Title {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: lightblue;
}

.red {
  background-color: red;
}

/* Footer */
footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
}


/* Bookings */
.Booking {
  word-break: break-word;
  max-width: 400px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  float: left;
}

.Booking-Title {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: orange;
}

.boxed {
  clear: both;
  max-width: 90%;
  margin: auto;
}

/* Forms */

.form {
  font-size: 1rem;
  margin-top: 0%;
  padding: 2.5%;
  border-radius: 2%;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}