body {
  font: 16px Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
}

/* Header */
.LogoAll {
  margin-top: -10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  min-height: 130px;
}

.LogoAll img {
  float: left;
  width: 150px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.LogoTitle {
  float: left;
  margin: 50px;
  padding-top: 20px;
  font-family: "futura bold", sans-serif;
}

.HeaderNav {
  margin-top: 50px;
  margin-right: 10px;
  float: right;
}

#Nav-ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#Nav-ul li {
  float: left;
}
#icon {
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  padding: 5px;
  margin: 10px;
  width: 30px;
  height: 30px;
}

#nav {
  /*float: left;*/
  margin-top: 25px;
  color: orange;
}

/* Main Content */
/*Searchbar*/
#Searchbar {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: -50px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightblue;
  float: none;
}
.element {
  margin-left: 1%;
  margin-right: 1%;
}

input {
  width: 80%;
  max-width: 90%;
  display:block;
  border-radius: 15px;
}

#SearchIcon{
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  padding: 5px;
  margin: 10px;
  width: 30px;
  height: 30px;
  float: left;
  background-color: white;
}

/* List */
#List {
  clear: both;
  overflow: auto;
  max-height: 80%;
  max-width: 90%;
  margin: auto;
  float: none;
}

.userImages {
  display: flex;
  flex-direction: row;
}

.uploadedImage {
  width: 15%;
  height: 15%;
}

#Room {
  word-break: break-word;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  float: left;
}

#RoomNonFloat {
  word-break: break-word;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}

#Room-Title {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: lightblue;
}

/* Footer */
footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
}


/* Bookings */
#Booking {
  word-break: break-word;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  float: left;
}

#Booking-Title {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: orange;
}

.boxed {
  clear: both;
  max-width: 90%;
  margin: auto;
}

/* Forms */

.form {
  font-size: 1rem;
  margin-top: 0%;
  padding: 2.5%;
  border-radius: 2%;
  -webkit-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  -moz-box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
  box-shadow: 3px 3px 20px 2px rgba(23,50,92,0.5);
}